
* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #fff;
}
body {
    background-color: #fff;
    background-image: url(background-light.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
header {
    background-color: rgb(255, 0, 0);
    height: 60px;
    width: 100%;
    display: flex;
    
}
h1 {
    text-align: center;
    background-color: rgb(255, 0, 0);
    top: 50%;
}

a{
    text-decoration: none;
    
}

nav {
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 10px;
    height: 30px;
    background-color: rgb(153, 0, 0);
    opacity: 75%;
    margin-bottom: 15px;
}
.search {
    padding: 8px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    width: auto;
    outline: none;
    font-weight: 300;
    margin-right: 25px;
}
.search::placeholder {
    color: #fff;
}
.search-button {
    border: 1px solid white;
    padding: 8px;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button:hover {
    background-color: #aaaaaa;
}
.fa-search {
    font-size: 16px;
    color: #fff;
    align-items: center;
}
.fa-location-arrow {
    font-size: 20px;
    padding-right: 5px;
}
.time {
    font-size: 64px;
    font-weight: 300;
}
.date {
    font-size: 32px;
}
.location {
    font-size: 24px;
    padding-top: 24px;
    font-weight: 400;
}
.current-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    margin: 50px auto;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 50px;
    background: rbga(0, 0, 0, 0.8);
    backdrop-filter: saturate(120%) blur(10px);
}
.temp {
    opacity: 100%;
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.temp-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.current-weather-location {
    font-size: 24px;
    font-weight: 300;
}
.current-weather-location1 {
    display: flex;
    font-size: 24px;
    font-weight: 300;
}
.weather-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.weather-img {
    display: block;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

footer{
    display: flex;
    font-size: 20px;
    width: 100%;
    height: 75px;
    background-color: #fff;
    margin-top: 50px;
    background-color: rgb(255, 0, 0);
    justify-content: center;
    align-items: center;
}
.description{
    font-size: 24px;
    font-weight: 300;
}
.lang-select{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.lang-select > div {
    margin-right: 16px;
}
.lang-select img {
    width: 36px;
    height: 36px;
}
.lang-select img:hover{
    cursor: pointer;
}
